:root{
    --background-color: #f1e9e1;
    --branding-topic: #ff8f1e;
    --interaction-topic: #88c23f;
    --organization-topic: #f195e4;
    --data-topic: #667ef2;
    --off-black: #333333;
    --section-padding: 70px 0 100px 0;
    --max-width: 1300px;
    --button-radius: 25px;
    --font-2: "Butler";
    --topic-margin: 0 20px 0 0;
    --top-btn-margin: 0 10px 0 0;
    --dot-margin: 3px;

}

* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img, video {
    height: auto;
    width: 100%;
    border-radius: 10px;
  }

body{
    font-family: "Quasimoda";
    background-color: var(--background-color);
    background-image:  
    radial-gradient(at 64% 0%, hsla(60,99%,78%,1) 0, transparent 22%),  
    radial-gradient(at 16% 30%, hsla(78,95%,73%,1) 0, transparent 16%),  
    radial-gradient(at 100% 26%, hsla(37,85%,66%,1) 0, transparent 14%),  
    radial-gradient(at 34% 100%, hsla(78,95%,73%,1) 0, transparent 26%),  
    radial-gradient(at 12% 55%, hsla(320,100%,87%,1) 0, transparent 18%),  
    radial-gradient(at 78% 64%, hsla(65,99%,79%,1) 0, transparent 17%),  
    radial-gradient(at 100% 100%, hsla(60,99%,74%,1) 0, transparent 16%);
    color: var(--off-black);
    -webkit-font-smoothing: antialiased;
}

.amtrak{
    background-image: none;
}




/* vvvv NAV BAR vvvv */


.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__logo{
    padding-right: 25px;
}
.header__cont {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 35px 45px;
    min-width: var(--max-width);
    max-width: var(1400px);
}
.header__list {
    display: flex;
}

.header__list-item {
    list-style-type: none;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
}

.header__link {
    color: var(--off-black);
    margin-left: 40px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.header__link:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--off-black);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.header__link:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* don't show hamburger menu */
.hamToggle{
    display: none;
}



/* vvvv REST OF PAGE vvvv */

.header_title{
    position: absolute;
    z-index: 2;
    margin-left: 50px;
}

.bg_shape{
    position: relative;
    z-index: 1;
}

.bg_shape img{
    border-radius: 0px;
}

.title{
    padding: 0 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 20px;
}

.title__left{
    display: flex;
    align-items: center;
}

.amtrak__head{
    font-family: "Quasimoda";
    font-weight: 500;
    font-size: 54px;
    line-height: 90px;
    letter-spacing: 0.065em;
    font-style: italic;
    color: var(--off-black);
    display: flex;
    justify-content: flex-start;
}

  .top__btns{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: -13px;
}

.top__btn__1, .top__btn__2, .top__btn__3{
    height: 33px;
    width: 93px;
    background-color: transparent;
    border-radius: var(--button-radius);
    border: 1px solid var(--off-black);
    color: var(--off-black);
    font-weight: 500;
    font-family: "Quasimoda";
    font-size: 12px;
    letter-spacing: 0.08em;
    text-align: center;
    margin: var(--top-btn-margin);
}

.top__btn__2{
    width: 120px;
}

.top__btn__3{
    width: 139px;
}

/* .amtrak__img-cont{
    width: 40%;
} */

.amtrak__img{
    margin: auto;
    width: 480px;
}

.page{
    width: 70%;
    margin: auto;
    font-size: 17px;
}

.description{
    margin-top: 40px;
}

#infoBlock{
    align-items: flex-start;
    margin-top: 35px;
}

.flex__container{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    flex-wrap: wrap;
}

.col_1_3{
    width: 30%;
    height: auto;
    padding: 5px;
}

.pi{
    margin-left: 15px;
}

.rr{
    margin-left: 45px;
    width: 40%;
}

.tu{
    width: 15%;
    margin-left: 45px;
}

h3{
    padding-bottom: 20px;
    color: var(--branding-topic);
    font-weight: 400;
}

.overview{
    margin-top: 50px;
}

h1{
    margin-top: 40px;
    color: var(--data-topic);
    font-style: italic;
    font-weight: 500;
    margin-bottom: 10px;
}

.center_title{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: -40px;
    color: var(--off-black);
    font-style: normal;
    font-size: 40px;
    font-weight: 500;
}

.center_subtext .subtext, .center_subtext h2{
    display: flex;
    justify-content: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.video1{
    max-height: 600px;
    width: 340px;
    margin-top: 40px;
    margin-bottom: 20px;
}

h2{
    margin-top: 70px;
    margin-bottom: 30px;
    font-weight: 500;
    /* font-style: italic; */
    font-size: 25px;
    /* text-decoration: underline; */
}

.rebrand{
    height: auto;
    width: 121%;
}

.how{
    margin-top: 50px;
}

.swipe{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 40px;
}

.subtext{
    margin-top: 80px;
    margin-bottom: 20px;
    font-weight: 400;
}

.compare{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img_left{
    width: 250px;
    height: auto;
}

.img_right{
    width: 250px;
    height: 444px;
}

.video{
    margin-top: 40px;
    width: 250px;
    height: 440px;
}

.process{
    margin-bottom: 40px;
}

.profile{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(128, 179, 219, 20%);
    border-radius: 50px;
}

h4{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.col_1_2{
    width: 50%;
    height: auto;
    padding: 5px;
}

.questions{
    font-weight: 600;
    margin-top: 10px;
    padding-left: 60px;
}

.one_image{
    margin-top: 40px;
}

.style_tile{
    width: 50%;
    height: auto;
    margin-bottom: 40px;
}

.wireflow{
    margin-bottom: -20px;
}

.interact{
    width: 770px;
    height: auto;
}

.final{
    margin-top: 70px;
    margin-bottom: 40px;
}

.thanks{
    margin-bottom: 40px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--off-black);
    font-weight: 400;
    font-family: var(--font-2);
    font-size: 15px;
    margin-bottom: 30px;
}












/* vvv   media queries  vvv */


/* MOBILE ONLY */

@media screen and (max-width: 600px) {

    /* nav bar */
    
    .menuToggle {
       display: block;
       position: relative;
       top: 35px;
       left: 22px;
       z-index: 1;
       -webkit-user-select: none;
       user-select: none;
    }
    
    .menuToggle a {
       text-decoration: none;
       color: #232323;
    
       transition: color 0.3s ease;
    }
    
    .menuToggle a:hover {
       color: #fff;
    }
    
    .menuToggle input {
       display: block;
       width: 40px;
       height: 32px;
       position: absolute;
       top: -7px;
       left: -5px;
    
       cursor: pointer;
    
       opacity: 0; /* hide this */
       z-index: 2; /* and place it over the hamburger */
    
       -webkit-touch-callout: none;
    }
    
    /*
    * Just a quick hamburger
    */
    .menuToggle span {
       display: block;
       width: 33px;
       height: 4px;
       margin-bottom: 5px;
       position: relative;
    
       background: var(--branding-topic);
       border-radius: 3px;
    
       z-index: 1;
    
       transform-origin: 4px 0px;
    
       transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
       background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }
    
    .menuToggle span:first-child {
       transform-origin: 0% 0%;
    }
    
    .menuToggle span:nth-last-child(2) {
       transform-origin: 0% 100%;
    }
    
    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    .menuToggle input:checked ~ span {
       opacity: 1;
       transform: rotate(45deg) translate(-2px, -1px);
       background: var(--branding-topic);
    }
    
    /*
    * But let's hide the middle one.
    */
    .menuToggle input:checked ~ span:nth-last-child(3) {
       opacity: 0;
       transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    /*
    * Ohyeah and the last one should go the other direction
    */
    .menuToggle input:checked ~ span:nth-last-child(2) {
       transform: rotate(-45deg) translate(0, -1px);
    }
    
    /*
    * Make this absolute positioned
    * at the left of the screen
    */
    .menu {
       position: absolute;
       width: 100%;
       padding: 50px 50px 50px 70px;
       padding-top: 125px;
       top: -100px;
       left: -35px;
    
       background: var(--data-topic);
       list-style-type: none;
       -webkit-font-smoothing: antialiased;
       /* to stop flickering of text in safari */
    
       transform-origin: 0% 0%;
       transform: translate(-100%, 0);
    
       transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
    
    .menu li {
       padding: 12px 0;
       font-size: 137.5%;
    }
    
    /*
    * And let's slide it in from the left
    */
    .menuToggle input:checked ~ ul {
       transform: none;
    }
    .header{
       display: none;
    }
    .header__amtrak, .header__euronews{
       display: flex;
    }
}
