:root{
    --background-color: #f1e9e1;
    --branding-topic: #ff8f1e;
    --interaction-topic: #88c23f;
    --organization-topic: #f195e4;
    --data-topic: #667ef2;
    --off-black: #333333;
    --section-padding: 70px 0 100px 0;
    --max-width: 1300px;
    --button-radius: 25px;
    --font-2: "Butler";
    --topic-margin: 0 20px 0 0;
    --dot-margin: 3px;

}
* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Quasimoda";
    background-color: var(--background-color);
    background-image:  
    radial-gradient(at 64% 0%, hsla(60,99%,78%,1) 0, transparent 22%),  
    radial-gradient(at 16% 30%, hsla(78,95%,73%,1) 0, transparent 16%),  
    radial-gradient(at 100% 26%, hsla(37,85%,66%,1) 0, transparent 14%),  
    radial-gradient(at 34% 100%, hsla(78,95%,73%,1) 0, transparent 26%),  
    radial-gradient(at 12% 55%, hsla(320,100%,87%,1) 0, transparent 18%),  
    radial-gradient(at 78% 64%, hsla(65,99%,79%,1) 0, transparent 17%),  
    radial-gradient(at 100% 100%, hsla(60,99%,74%,1) 0, transparent 16%);
    color: var(--off-black);
    -webkit-font-smoothing: antialiased;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__logo{
    padding-right: 25px;
}
.name{
    font-weight: 600;
    font-size: 20px;
    padding-right: 25px;
}
.header__cont {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 30px;
    max-width: var(--max-width);
}
.header__list {
    display: flex;
}

.header__list-item {
    list-style-type: none;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
}

.header__link {
    color: var(--off-black);
    padding-left: 40px;
    text-decoration: none;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home__img{
    width: 1150px;
    height: auto;
}
.case__studies-title{
    font-weight: 800;
    font-size: 90px;
    font-style: italic;
    line-height: 80px;
    -webkit-text-stroke: 2px var(--off-black);
    color: transparent;
    display: flex;
    justify-content: flex-end;
}
.topic__btns{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: -13px;
}
.case__studies {
    padding: var(--section-padding);
}
.case__studies__cont {
    margin: 0 auto;
    max-width: 1200px;
}
.project__icon{
    width: 60px;
    display: flex;
    align-self: flex-start;
    margin-right: 30px;
}
.icon__first{
    width: 50px;
}
.icon__third{
    width: 70px;
}
.project__title{
    font-family: var(--font-2);
    font-size: 30px;
}
.project__subtitle{
    font-weight: 350;
    padding-bottom: 5px;
}
.topic__btn__1{
    height: 28px;
    width: 100px;
    background-color: var(--branding-topic);
    border-radius: var(--button-radius);
    border: 2px solid transparent;
    color: white;
    font-weight: 600;
    font-family: "Quasimoda";
    margin: var(--topic-margin);
}
.topic__btn__2{
    height: 28px;
    width: 120px;
    background-color: var(--interaction-topic);
    border-radius: var(--button-radius);
    border: 2px solid transparent;
    color: white;
    font-weight: 600;
    font-family: "Quasimoda";
    margin: var(--topic-margin);
}
.topic__btn__3{
    height: 28px;
    width: 130px;
    background-color: var(--organization-topic);
    border-radius: var(--button-radius);
    border: 2px solid transparent;
    color: white;
    font-weight: 600;
    font-family: "Quasimoda";
    margin: var(--topic-margin);
}
.topic__btn__4{
    height: 28px;
    width: 125px;
    background-color: var(--data-topic);
    border-radius: var(--button-radius);
    border: 2px solid transparent;
    color: white;
    font-weight: 600;
    font-family: "Quasimoda";
    margin: var(--topic-margin);
}
.project__btn{
    height: 30px;
    width: 140px;
    background-color: transparent;
    border-radius: var(--button-radius);
    border: 2px solid var(--off-black);
    color: var(--off-black);
    font-weight: 600;
    font-family: "Quasimoda";
    margin-left: auto;
}
.case__study {
    border-top: 2px solid var(--off-black);
    padding: 50px;
}
.case__bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

.case__top {
    display: flex;
}

.project__button-cont {
    display: flex;
    width: 100%;
}

.dot__1 {
    height: 15px;
    width: 15px;
    background-color: var(--branding-topic);
    border-radius: 50%;
    display: inline-block;
    margin-right: var(--dot-margin)
  }
  .dot__2 {
    height: 15px;
    width: 15px;
    background-color: var(--interaction-topic);
    border-radius: 50%;
    display: inline-block;
    margin-right: var(--dot-margin)
  }
  .dot__3 {
    height: 15px;
    width: 15px;
    background-color: var(--organization-topic);
    border-radius: 50%;
    display: inline-block;
    margin-right: var(--dot-margin)
  }
  .dot__4 {
    height: 15px;
    width: 15px;
    background-color: var(--data-topic);
    border-radius: 50%;
    display: inline-block;
    margin-right: var(--dot-margin)
  }
  .contact__cont{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  .email__link{
      font-family: var(--font-2);
      font-weight: 800;
      order: 1;
      margin-bottom: -78px;
      margin-left: 90px;
      margin-top: 70px;

  }
  .contact__circle{
    height: 130px;
    width: 130px;
    border: 4px solid var(--off-black);
    border-radius: 50%;
    order: 1;
    margin-left: 90px;
  }
  .collab__curve{
      order: 2;
      margin-top: -100px;
      margin-bottom: 170px;
  }
  .footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--off-black);
      font-weight: 400;
      font-family: var(--font-2);
      font-size: 15px;
      margin-bottom: 30px;
  }
  